body{
    background-image: linear-gradient(45deg, black, green, #32b57f, rgb(27, 132, 156),rgb(185, 224, 94),red );    background-size: cover;
    background-attachment: fixed;
}
h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.form{
    display: grid;
    align-items: center;
    justify-content: center;
}
.inputs{
    margin: 3px 0 12px;
    padding: 5px 10px;
    border-radius: 14px;
    border: none;

}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    margin: 30px;
    padding: 5px;
    background-color: rgb(136 225 28);
    font-size: medium;
}
.submit:hover{
    background-color: rgb(105, 179, 14);
    transition:.5s ;
    font-size: large;
    box-shadow: 5px 10px 30px rgb(48, 128, 249);
    
}